Twitter\ Sentiment\ Analysis/dataset
Credit\ Card\ Approval\ Prediction/dataset
Netflix\ Movies\ and\ TV\ Shows/dataset
Neural\ Network/__pycache__
Neural\ Network\ in\ Rust/target
book\ recommendation\ system/dataset
book\ recommendation\ system/dataset.db
book\ recommendation\ system/test.db
book\ recommendation\ system/password.py
book\ recommendation\ system/learning plan.md